body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    transition: all 1s;
}




header a {
    padding: 10px 40px; 
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s;
}

header a:hover {
    background-color: #0044ff;
    color: white;
}


.container {
    display: flex;

}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}

.container3 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.intro1{
    margin-top: 4em;
    align-items: center;
    justify-content: center;
    margin-inline-start: 5em;
    margin-inline-end: 1em;
    
}

.bg_masyarakat,.bg_dokter{
    display: flex;
    margin-top: 0em;
    align-items: center;
    justify-content: center;
    margin-inline-start: auto;
    margin-inline-end: auto;
}



.bg_masyarakat a,.intro1 a,.bg_dokter a{
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: inherit;
}


footer {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
}


#gambardokter, #gambarpeternak {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    border-radius: 2cm;
    border-style: outset;
    display: block;
}

.container11 {
    position: relative;
    display: inline-block;
}

.pagebreak{
    border-bottom: px solid #000000;
}

.textdokter, .textpeternak {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    
}

.textdokter a, .textpeternak a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9  );
}


/* NAVBAR */
.navbar{
    background-color: #00000000;
	margin-inline-start: 30rem;
    position: fixed;
    z-index: 1;
    margin-top: 0;
}
.navbar li{
    border-radius: 10cm;
}
.menu{
	margin-left: 17cm;
	display: flex;
	list-style: none;
	padding: 0;
    transition: all 1s;
}
.menu li{
	padding-left: 0;
	margin-right: 10px;
    background-color: #000000;
    border-radius: 10cm;
    
}
.menu li a{
	padding: 10px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
}
#logo{
    width: 50px;
    height: 50px;
    margin-left: -24rem;
    background-color: #000000;
    border-radius: 10cm;
}
#ayamsehat{
    font-weight:  bold;
    font-size: 110%;
    font-family:"Arial";
    margin-left: -8cm;
    position: relative;
    color: #000000;
    border-radius: 10cm;
    padding: 1px;
    text-decoration: none;
}
.container1{
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.menu li:hover{
    box-shadow: inset;
    background-color: #0084ff00;
}
.menu li:hover a{
    color: black;
}

/*   */
 
.container0{
    padding: 1.5cm;
}

/* container2 */
.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3cm;
    border-style: outset;
    border-color: #000;
}

.perkenalan{
    margin-inline-end: 14cm;
    margin-top: -3cm;
    position: absolute;
    text-align: left;
    transition: 1s;
}
.gb_peternak{
    position: relative;
    margin-inline-start: 20cm;
    padding: 3cm;
    border-style: outset;
    border-color: #000;
}

#judul{
    font-weight: bold;
    font-family: "Arial";
    font-size: 80px;
    transition: 1s;
}

/* button */
.button{
    margin-inline: 3cm;
	display: flex;
	list-style: none;
	padding: 0;
    transform: none;
    transition: 1s;
    
}
.button a:hover{
    border-radius: 10cm;
    background-color: #000;
    transform: none;
    transition: 1s;
}
.button a:hover li{
    color: white;
}
#periksa,#penyakit{
    margin-right: 3cm;
    border-bottom: #000;
    border-bottom-style: outset;
    padding: 10px;
}
.button a li{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.button a{
    text-decoration: none;
    transform: none;
    transition: 1s;
}
/*  */

.video{
    position: relative;
    display: block;
    margin-left:15cm;
}
 
@media screen and (max-width: 768px) {
	.menu {
		display: none;
	}
 
	.menu.aktif{
		display:inline-block;
		position: absolute;
		top: 64px;
		background: #212121;
		padding: 10px 20px;
		right: 0;
		left: 0;
	}
 
	.menu.aktif li a{
		padding: 10px;
		display: inline-block !important;
	}
 
	.tombol {
		display: block;
	}
}